input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}

form{
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    justify-content: center;
    margin-inline: auto; 
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4px;
}

.row button{
    margin-top: 10px;
    /* background-color: ; */
}